/* Global Styles */
:root {
    --dark-bg: #080808;
    --light-gray: #b9b8b8;
    --medium-gray: #333;
    --dark-gray: #444;
    --teal: #0e866e;
    --tealhover: #41b69f;
    --blue: #3498db;
    --purple: #9b59b6;
    --orange: #e67e22;
    --red: #e74c3c;
    --green: #2ecc71;
}

/* Search Box */
.search-box input[type="text"] {
    background-color: var(--box-bg);
    border: 1px solid var(--medium-gray);
    border-radius: 12px; /* Rounded edges */
    color: var(--light-gray); /* Text color */
    padding: 10px;
    width: 500px;
    transition: all 0.3s ease;
  }
  
  /* Glow when focused */
  .search-box input[type="text"]:focus {
    border-color: var(--medium-gray);
    box-shadow: 0 0 10px var(--medium-gray);
    outline: none;
  }

body {
    background-color: var(--dark-bg);
    color: var(--light-gray);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

/* Links */
a {
    color: var(--teal);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--tealhover);
}

/* Flexbox Layout */
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    margin-bottom: 10px;
}

/* Form Elements */
button, select, input[type="date"], input[type="time"], #autoRefreshCheckbox, #refreshInterval, #specialTextToggle {
    background-color: var(--medium-gray);
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    color: var(--light-gray);
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    vertical-align: middle;
}

.subscription_button {
    background-color: var(--medium-gray);
    border: none;
    border-radius: 5px;
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-align: left;
}

.button:hover {
    box-shadow: 0 0 30px #474747;
}

/* Form Layout */
form {
    align-items: center;
    background-color: #181818;
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

form:hover {
    background-color: #181818;
}

form > label {
    font-weight: bold;
    margin-right: 5px;
}

/* Custom Checkboxes */
#autoRefreshCheckbox, #specialTextToggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--medium-gray);
    border: 2px solid #555;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

#autoRefreshCheckbox:checked::before, #specialTextToggle:checked::before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: '';
    height: 12px;
    left: 5px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 6px;
}

/* Audio Controls */
.audio-player {
    align-items: center;
    background-color: #111111;
    display: flex;
}

#playPauseBtn {
    background-color: #353434;
    border: none;
    color: #111111;
    cursor: pointer;
    padding: 5px 10px;
}

.playPauseBtn:hover {
    box-shadow: 0 0 30px #474747;
}

/* Text and Headers */
h3, h4 {
    color: #a3a3a3;
    margin-top: 0;
}

.dateDisplay-text {
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    display: inline;
    -webkit-background-clip: text;
}

/* Collapsible Sections */
.collapsible {
    background-color: var(--medium-gray);
    border: none;
    border-radius: 5px;
    color: var(--light-gray);
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: var(--dark-gray);
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Miscellaneous Styles */
.separator, .filter_button_separator {
    background: linear-gradient(to right, transparent, var(--dark-gray), transparent);
    height: 2px;
    margin: 20px 0;
}

.subscription_button_separator {
    background: linear-gradient(to right, transparent, #444, transparent);
    height: 1px;
    margin: 5px 0;
}

.transcription, .eventbox {
    background-color: #111111;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    padding: 20px;
}

.filterButton {
    background-color: var(--medium-gray);
    border: 2px;
    border-radius: 5px;
    color: #b1b1b1;
    cursor: pointer;
    padding: 6px 55px;
    transition: background-color 0.3s ease;
}

.filterButton:hover {
    box-shadow: 0 0 20px #3d3d3d;
}

.subscription-form {
    align-items: center;
    background-color: var(--box-bg);
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.subscription-box input[type="text"] {
    background-color: var(--box-bg);
    border: 1px solid var(--medium-gray);
    border-radius: 12px; /* Rounded edges */
    color: var(--light-gray); /* Text color */
    padding: 10px;
    width: 185px;
    transition: all 0.3s ease;
}

/* Glow when focused */
.subscription-box input[type="text"]:focus {
    border-color: var(--medium-gray);
    box-shadow: 0 0 10px var(--medium-gray);
    outline: none;
}