body {
    background-color: #080808; /* Darker background color */
    color: #e1e1e1;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    color: #333;  /* Set the hyperlink text color */
    text-decoration: none;  /* Remove underline */
    transition: color 0.3s ease;  /* Smooth transition for hover effect */
}

a:hover {
    color: #444;  /* Set the hyperlink text color when hovered */
}

.flex-item {
    margin-bottom: 10px; /* Add some space below each item */
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.label-container {
    width: 100px; /* Adjust based on the width of your widest label */
    display: inline-block;
}
audio {
    background-color: #111111; /* Change to your preferred color */
}

.audio-player {
    display: flex;
    align-items: center;
    background-color: #111111;
}

#playPauseBtn {
    background-color: #353434;
    color: #111111;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
/* Hide default checkbox */
#autoRefreshCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 4px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
    vertical-align: middle;
}

#specialTextToggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    position: relative;
    vertical-align: middle;
}

#autoRefreshCheckbox:checked::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#specialTextToggle:checked::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Hide default spin buttons for number input in Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide default spin buttons for number input in Chrome */
}
.transcription, .eventbox {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    background-color: #111111; /* Slightly lighter than the main background */
}

.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    background-color: #333; /* Darker shade of blue */
    color: #e1e1e1; /* Light gray */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #444; /* Even darker on hover */
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.audio-controls {
    margin-top: 10px;
}

h3, h4 {
    margin-top: 0;
    color: #f1f1f1; /* Lighter shade of gray for headers */
}

.dateDisplay-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent; /* This makes the text color transparent, showing only the background */
    -webkit-background-clip: text; /* Makes the background only apply to the text */
    background-clip: text;
    display: inline; /* This will make the background only as wide as the text itself */
}

button, select, input[type="date"], input[type="time"], #autoRefreshCheckbox, #refreshInterval, #specialTextToggle {
    /* Updated common styles for form elements for a consistent dark look */
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #333; /* Darker background */
    color: #e1e1e1; /* Light gray color */
    border: 1px solid #444; /* Slightly lighter border for visibility */
    padding: 10px;
    vertical-align: middle;
}

button:hover, select:hover {
    background-color: #444; /* Even darker on hover */
}

.filterButton {
    padding: 6px 55px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.separator {
    height: 2px;
    background: linear-gradient(to right, transparent, #444, transparent); /* Made separator darker */
    margin: 20px 0;
}

.filter_button_separator {
    height: 2px;
    background: linear-gradient(to right, transparent, #444, transparent);
    margin: 5px 0;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1f1f1f; /* Darker background for the form */
}

form:hover {
    background-color: #2a2a2a; /* Slightly brighter on hover */
}

form > label {
    font-weight: bold;
    margin-right: 5px;
}