body {
    background-color: #1e1e1e;
    color: #e1e1e1;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

a {
    color: #0260c5;  /* Set the hyperlink text color */
    text-decoration: none;  /* Remove underline */
    transition: color 0.3s ease;  /* Smooth transition for hover effect */
}

a:hover {
    color: #014186;  /* Set the hyperlink text color when hovered */
}

.specialText {
    /* Add the specific styling you want for your h3 headers when the checkbox is checked */
    background-color: #1e1e1e;
    color: #e1e1e1;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}


.flex-item {
    margin-bottom: 10px; /* Add some space below each item */
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.label-container {
    width: 100px; /* Adjust based on the width of your widest label */
    display: inline-block;
}
audio {
    background-color: #2a2a2a; /* Change to your preferred color */
}

.audio-player {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
}

#playPauseBtn {
    background-color: #353434;
    color: #2a2a2a;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
/* Hide default checkbox */
#autoRefreshCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 4px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
}

#specialTextToggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    position: relative;
    vertical-align: middle;
}

#autoRefreshCheckbox:checked::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#specialTextToggle:checked::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Hide default spin buttons for number input in Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide default spin buttons for number input in Chrome */
}


.transcription, .eventbox {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    background-color: #2a2a2a;
}

.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    background-color: #0260c5;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #014186;
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.audio-controls {
    margin-top: 10px;
}

h3 {
    margin-top: 0;
    color: #f1f1f1;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0260c5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filterButton {
    padding: 6px 55px;
    border: none;
    border-radius: 5px;
    background-color: #0260c5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #014186;
}

.separator {
    height: 2px;
    background: linear-gradient(to right, transparent, #444, transparent);
    margin: 20px 0;
}

#specialTextToggle {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #2a2a2a;
}

.dateDisplay-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent; /* This makes the text color transparent, showing only the background */
    -webkit-background-clip: text; /* Makes the background only apply to the text */
    background-clip: text;
    display: inline; /* This will make the background only as wide as the text itself */
}


.filter_button_separator {
    height: 2px;
    background: linear-gradient(to right, transparent, #444, transparent);
    margin: 5px 0;
}

input[type="date"], input[type="time"] {
    padding: 10px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #e1e1e1;
}

input[type="date"]:focus, input[type="time"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px #007BFF;
}
/* Form and its elements */
form {
    display: flex;
    align-items: center;
    gap: 10px;  /* Spacing between elements */
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2a2a2a;
    transition: background-color 0.3s ease;
}

form:hover {
    background-color: #333;
}

/* Auto-refresh checkbox styling */
#autoRefreshCheckbox , #specialTextToggle{
    appearance: none;
    background-color: #444;
    border: 2px solid #555;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

#autoRefreshCheckbox:checked {
    background-color: #007BFF;
    border-color: #0066cc;
}

#autoRefreshCheckbox:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Refresh interval input styling */
#refreshInterval {
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #e1e1e1;
    width: 60px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#refreshInterval:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px #007BFF;
}

/* Label styling for modern look */
form > label {
    font-weight: bold;
    margin-right: 5px;
}
select {
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    color: #e1e1e1;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

select:hover, select:focus {
    background-color: #333;
    border-color: #007BFF;
}