/* Global Styles */
:root {
    --true-black: #000000;
    --text-gray: #575656;
    --hover-gray: #080808;
    --border-gray: #212020;
}

/* Body and Text */
body {
    background-color: var(--true-black);
    color: var(--text-gray);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

/* Links */
a {
    color: #003b46;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--hover-gray);
}

/* Flexbox Layout */
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    margin-bottom: 10px;
}

.label-container {
    display: inline-block;
    width: 100px;
}

/* Audio Controls */
.audio-player {
    align-items: center;
    background-color: var(--true-black);
    display: flex;
}

#playPauseBtn {
    background-color: #ff0000;
    border: #e60a0a;
    color: #ff0000;
    cursor: pointer;
    padding: 5px 10px;
}

/* Custom Checkboxes */
#autoRefreshCheckbox, #specialTextToggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #353434;
    border: 2px solid #555;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

#autoRefreshCheckbox:checked::before, #specialTextToggle:checked::before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: '';
    height: 12px;
    left: 5px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 6px;
}

/* Form Elements */
button, select, input[type="date"], input[type="time"], #autoRefreshCheckbox, #refreshInterval, #specialTextToggle {
    background-color: var(--true-black);
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    color: var(--text-gray);
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
}

button:hover, select:hover {
    background-color: #2e2e2e;
}

/* Collapsible Sections */
.collapsible {
    background-color: var(--true-black);
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    color: var(--text-gray);
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    text-align: left;
}

.collapsible:hover {
    background-color: var(--hover-gray);
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Miscellaneous Styles */
.transcription, .eventbox {
    background-color: var(--true-black);
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
}

.separator {
    background: linear-gradient(to right, var(--true-black), var(--border-gray), var(--true-black));
    height: 2px;
    margin: 20px 0;
}

/* Text and Headers */
h3, h4 {
    color: var(--text-gray);
    margin-top: 0;
}

.dateDisplay-text {
    background-clip: text;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    display: inline;
    -webkit-background-clip: text;
}

/* Form Layout */
form {
    align-items: center;
    background-color: var(--true-black);
    border: 1px solid var(--border-gray);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

form > label {
    font-weight: bold;
    margin-right: 5px;
}